/*------- Layout -------*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.section {
  height: 700px;
  width: 100%;
}

#banner {
  background: url(../images/banner/desktop.png) fixed;
  background-size: cover;
}

#circuits {
  background: linear-gradient(#85dcb1, #54f0df);
}

#reservations {
  background: linear-gradient(#85dcb1, #54f0df);
}

/*------- Clouds -------*/

.cloud {
  width: 6vw;
  height: 6vw;
  position: absolute;
}

#logo {
  cursor: pointer;
  left: 35vw;
  top: 25vh;
}

#logoDestinations {
  left: 60vw;
  top: 50vh;
}

#logoCircuits {
  left: 18vw;
  top: 10vh;
}

#logoStations {
  left: 19vw;
  top: 50vh;
}

#logoContact {
  left: 80vw;
  top: 10vh;
}

/*------- Animations -------*/

.cloud:hover {
  transform: rotate(360deg) scale(1.2);
  transition: all 0.8s ease-in-out;
}

#logo {
  display: none;
}

#logoDestinations {
  display: none;
}

#logoCircuits {
  display: none;
}

#logoStations {
  display: none;
}

#logoContact {
  display: none;
}

.card:hover {
  transform: scale(1.05);
  transition: all 500ms;
}

/*------- Mobile -------*/

@media (max-width: 576px) {
  #banner {
    background: url(../images/banner/mobile.png) no-repeat fixed;
  }

  .cloud {
    height: 10vw;
    width: 10vw;
  }

  #logo {
    cursor: pointer;
    left: 15vw;
    top: 20vh;
  }

  #logoDestinations {
    left: 85vw;
    top: 30vh;
  }

  #logoCircuits {
    left: 45vw;
    top: 53vh;
  }

  #logoStations {
    left: 77vw;
    top: 48vh;
  }

  #logoContact {
    left: 45vw;
    top: 5vh;
  }

  #reservations {
    background: linear-gradient(#85dcb1, #54f0df);
  }
}

/*------- Tablet -------*/

@media (max-width: 768px) {
  #banner {
    background: url(../images/banner/mobile.png) no-repeat fixed;
    background-size: contain;
  }

  .cloud {
    height: 8vw;
    width: 8vw;
  }

  #logo {
    cursor: pointer;
    left: 53vw;
    top: 24vh;
  }

  #logoDestinations {
    left: 80vw;
    top: 20vh;
  }

  #logoCircuits {
    left: 35vw;
    top: 45vh;
  }

  #logoStations {
    left: 77vw;
    top: 48vh;
  }

  #logoContact {
    left: 15vw;
    top: 5vh;
  }

  #reservations {
    background: linear-gradient(#85dcb1, #54f0df);
  }
}
